
@font-face {
font-family: 'Cereal App Book';
font-style: normal;
font-weight: normal;
src: local('../../fonts/Cereal App Book'), url('../../fonts/CerealBook.woff') format('woff');
}


@font-face {
font-family: 'Cereal App Light';
font-style: normal;
font-weight: normal;
src: local('../../fonts/Cereal App Light'), url('../../fonts/CerealLight.woff') format('woff');
}


@font-face {
font-family: 'Cereal App Medium';
font-style: normal;
font-weight: normal;
src: local('../../fonts/Cereal App Medium'), url('../../fonts/CerealMedium.woff') format('woff');
}


@font-face {
font-family: 'Cereal App Bold';
font-style: normal;
font-weight: normal;
src: local('../../fonts/Cereal App Bold'), url('../../fonts/CerealBold.woff') format('woff');
}


@font-face {
font-family: 'Cereal App Extra Bold';
font-style: normal;
font-weight: normal;
src: local('../../fonts/Cereal App Extra Bold'), url('../../fonts/CerealExtraBold.woff') format('woff');
}


@font-face {
font-family: 'Cereal App Black';
font-style: normal;
font-weight: normal;
src: local('../../fonts/Cereal App Black'), url('../../fonts/CerealBlack.woff') format('woff');
}

@font-face {
font-family: 'SF Mono Regular';
font-style: normal;
font-weight: normal;
src: local('../../fonts/SF Mono Regular'), url('../../fonts/SFMonoRegular.woff') format('woff');
}
