/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap'); */


@font-face {
    font-family: Manrope;
    font-weight: 300;
    src: url("../../fonts/Manrope-Light.woff2");
}

@font-face {
    font-family: Manrope;
    font-weight: 400;
    src: url("../../fonts/Manrope-Regular.woff2");
}

@font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url("../../fonts/Manrope-Bold.woff2");
}
