div {
  color: #aaa;
}

div.tab-content > h2 {
  color: var(--mint-6);
  margin-bottom: 0.5rem;
}

div.tab-content > p {
  color: #fff;
}

li.tab-list {
  padding: 8px;
  margin: 0px;
  transition: all 0.2s ease-out;
  /* Enable */
  /* border-left: 3px solid transparent; */
}

li.tab-list:hover {
  cursor: pointer;
  color: var(--mint-6);
}

li.tab-list.active {
  color: var(--mint-6);
  background: var(--mint-bg);
  border-left: 3px solid var(--mint-6);
}

div.tab-content {
  flex: 2;
  margin: 8px;
  padding: 8px;
  min-height: 500px;
}
