@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat');

html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

h1 {
    font-size: 5em;
    font-weight: 700;
}
h2 {
    font-size: 3em;
    letter-spacing: -2px
}
h3 {
    font-size: 2em;
}

span.meow {
    color: rgb(85, 85, 85);
}

.navbar.bg-nate {
    background-color: rgba(40, 40, 40, 0.4);
}

.container-fluid.landing {
    padding: 0;
}

.landing_box {
    width: 100%;
    margin-top: -7.5%;
    margin-bottom: -12.5%;
    padding: 0;
}

.landing_bg {
    height: 0;
    padding-bottom: 100%;
    background: url('../img/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(120, 120, 120);   
}

section {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0px;
    position: relative;
}

section.top,
section.footer {
    padding-top: 0px;
}

section.divide {
    padding-bottom: 30px;
}

section.divide::after {
    width: 50px;
    height: 50px;
    content: '';
    pointer-events: none;
    position: absolute;
    left: 50%;
    bottom: -25px;
    content: '';
    z-index: 10;
    background: inherit;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

section.orange {
    background-color: rgb(233, 168, 86); 
}

section.grey {
    background-color: rgb(120, 120, 120);
}