---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I am a Rust lover, who does not love <a class="text-primary-400" href="https://www.rustacean.net/">Ferris</a>, our rustacean?
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Rust</li>
        <li>Golang</li>
        <li>React</li>
        <li>Node.js</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I am an engineer at heart and I love contributing to opensource projects.
    </p>
    <p class="text-sm font-light">
      I enjoyed travelling and connecting to people across the globe.
    </p>
  </div>
</Card>
