---
import { frontmatter, Content } from "../contents/about/about.md";
---

<style>
  div {
    color: #aaa;
  }

  h1.title {
    color: #fff;
    margin-top: 20rem;
  }

  h1.title > span {
    color: var(--mint-6);
    font-weight: 400;
  }
</style>

<div>
  <h1 class="title">
    {frontmatter.title}&nbsp;<span>{frontmatter.accent}</span>
  </h1>
  <Content />
</div>
