---
import { frontmatter, Content } from "../contents/about/about.md";
---

<div>
  <h1 class="title">
    {frontmatter.title}
    <span>{frontmatter.accent}</span>
  </h1>
  <Content />
</div>

<style>
  div {
    color: #aaa;
  }

  h1.title {
    color: #fff;
  }

  h1.title > span {
    margin-left: 0.5rem;
    color: var(--mint-6);
    font-weight: 400;
  }
</style>
