---
import Card from "./Card/index.astro";
import Link from "./Link/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Contacts">
  <address class="flex flex-col mt-4">
    <h2 class="text-gray-500">Email</h2>
    <p>nate.bwangsut@gmail.com</p>
  </address>
  <div class="flex flex-col mt-4 w-fit">
    <h2 class="text-gray-500">Socials</h2>
    <ul>
      <li>
        <Link href={LINKS.linkedin}>Linkedin</Link>
      </li>
      <li>
        <Link href={LINKS.github}>GitHub</Link>
      </li>
      <li>
        <Link href={LINKS.medium}>Medium</Link>
      </li>
      <li>
        <Link href={LINKS.discord}>Discord</Link>
      </li>
    </ul>
  </div>
</Card>
