---
// import { Debug } from 'astro/components';
// import Tab from './Tab';
import Tab from './Tab-solid';
// import Tab from './Tab.svelte';

let experience = await Astro.glob("../contents/experience/*.md")
let items = experience.map((exp, index) => ({
  title: exp.frontmatter.title,
  role: exp.frontmatter.role,
  company: exp.frontmatter.company,
  start_date: exp.frontmatter.start_date,
  end_date: exp.frontmatter.end_date || "Present",
  value: index,
  compiled: exp.compiledContent(),
  component: exp.Content,
})).sort((a, b) => {
  if (a.start_date > b.start_date) return -1;
  if (a.start_date < b.start_date) return 1;
  return 0;
});
---
<style>
  div {
    color: #aaa
  }

  h1 {
    color: var(--mint-6);
    margin-top: 20rem;
  }

  h2 {
    color: var(--mint-6);
    margin-bottom: 0.5rem;
  }

  p {
    color: #fff;
  }

  div.tab-list {
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    border-left: 1px solid transparent;
  }

  div.tab-list:hover {
    color: var(--mint-6);
  }

  div.tab-content {
    flex: 2;
    margin: 8px;
    padding: 8px;
    min-height: 500px;
  }
</style>

<div>
  <h1>Experience</h1>
  <!-- <Tab items={items} client:load /> -->

  <!-- Svelte -->
  <!-- <Tab items={items} client:visible>
    {items.map(item => <div set:html={item.compiled}></div>)}
  </Tab> -->

  <!-- Solidjs -->
  <Tab items={items} client:visible />
  <!-- {items.map(item => <item.component />)} -->
</div>
