---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-3">
    <div class="flex flex-col">
      <h2>Now</h2>
      <!-- <a href="https://sive.rs/nowff" target="_blank">
      </a> -->
      <span class="text-xs text-gray-500 cursor-pointer">what's that ?</span>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Stuck in series of meetings</p>
</Card>
