---
import ProjectsGrid from "../solid/ProjectsGrid";

let projectFiles = await Astro.glob("../contents/projects/*.md");
let projects = projectFiles
  .map((exp, index) => ({
    title: exp.frontmatter.title,
    date: exp.frontmatter.date,
    stack: exp.frontmatter.stack,
    github: exp.frontmatter.github,
    website: exp.frontmatter.website,
    value: index,
    compiled: exp.compiledContent(),
    component: exp.Content,
  }))
  .sort((a, b) => {
    if (a.date > b.date) return -1;
    if (a.date < b.date) return 1;
    return 0;
  });
---

<style>
  h1 {
    color: var(--mint-6);
    margin-top: 20rem;
  }
</style>

<div>
  <h1>Projects</h1>
  <ProjectsGrid projects={projects} client:visible />
</div>
