---
import { formatDate } from "../lib/helpers";
import type { MarkdownLayoutProps } from "astro";
import BasicLayout from "./BasicLayout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  minutesRead: string;
}>;

const { frontmatter } = Astro.props;
---

<BasicLayout
  title="Bhurinat Wangsutthitham - Blog"
  description="Just another software engineer"
>
  <main class="mx-auto max-w-3xl w-full h-screen p-8 text-neutral-100">
    <a
      href="/blog"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg mb-8"
      >Back</a
    >
    <div class="my-10">
      <h1 class="text-5xl font-semibold">{frontmatter.title}</h1>
      <div class="flex justify-between pt-4 text-gray-500 text-sm">
        <p>{formatDate(new Date(frontmatter.pubDate))}</p>
        <dsp>{frontmatter.minutesRead}</dsp>
      </div>
    </div>
    <article class="pb-8 prose prose-slate prose-invert">
      <slot />
    </article>
  </main>
</BasicLayout>
